<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
  <div class="container">
    <%= logo('h4') %>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Dashboard", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
        </li>

        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "New Entry", new_entry_path, class: "nav-link ms-5" %>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-person-circle"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <h6 class="dropdown-header">
                  Signed in as:
                  <br>
                  <%= current_user.email %>
                </h6>
              </li>

              <li><hr class="dropdown-divider"></li>

              <li>
                <%= link_to "Account", edit_user_registration_path, class: "dropdown-item" %>
              </li>

              <li>
                <%= link_to "Sign Out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
